@tailwind base;
@tailwind components;
@tailwind utilities;



.fontKanit {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}
.fontNarmal{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}


.MyButton{
    /* background-color: initial; */
    /* background-image: linear-gradient(-180deg, #FF7E31, #E62C03); */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    /* cursor: pointer; */
    /* display: inline-block; */
    border: 1px solid;
    /* height: 40px; */
    /* line-height: 40px; */
    /* outline: none; */
    /* overflow: hidden; */
    padding: 9px 20px;
    /* pointer-events: auto; */
    /* position: relative; */
    /* text-align: center; */
    /* touch-action: manipulation; */
    /* user-select: none; */
    /* -webkit-user-select: none; */
    /* vertical-align: top; */
    /* white-space: nowrap; */
    /* width: 100%; */
    /* z-index: 9; */
    /* border: 0; */
    transition: 03;
  }
  
  .MyButton:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    color: aqua;
    background: #000;
  }